.container {
  gap: 24px;
  width: 100%;
  display: grid;
  margin: 124px 0 80px;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.list {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: #696a75;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid rgba(105, 106, 117, 0.3);
}
