* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  background: #141624;
  gap: 50px;
  padding: 50px;
}
.login {
  display: flex;
  flex-direction: column;
  
  gap: 15px;
}
h1 {
  color: #fff;
}
input {
  border: none;
  outline: none;
  background: #181a2a;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}
input::placeholder {
  color: #fff;
}
label{
    color: #fff;
    font-size: 16px;
}
.formBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 10px;
}
.submitBtn{
    font-size: 16px;
    padding: 10px;
    color: #fff;
    background: #4B6BFB;
    border: none;
    border-radius: 5px;
    width: 250px;
}